<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>FriendCircle</string>
			<key>Title</key>
			<string>朋友圈</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>img</key>
			<string>ff_IconShowAlbum</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ShakeAndShake</string>
			<key>Title</key>
			<string>摇一摇</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>img</key>
			<string>ff_IconShake</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>SearchAndSearch</string>
			<key>Title</key>
			<string>扫一扫</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>img</key>
			<string>ff_IconQRCode</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>NearbyPeople</string>
			<key>Title</key>
			<string>附近的人</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>img</key>
			<string>ff_IconLocationService</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>Shopping</string>
			<key>Title</key>
			<string>购物</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>img</key>
			<string>CreditCard_ShoppingBag</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>Game</string>
			<key>Title</key>
			<string>游戏</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>img</key>
			<string>MoreGame</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Discovery</string>
	<key>Title</key>
	<string>设置</string>
</dict>
</plist>
